.row-product-form {
  display: flex;
  flex-direction: row;
}

.modal-product {
  width: 60em !important;
  overflow: hidden;

  .product-modal-tabs {
    //max-height: 100% !important;

    .product-modal-tab {
      overflow-y: auto;
      max-height: 50vh !important;
    }
  }

  // Advice Tab
  #advice-form {
    width: 97%
  }

  .footer-advices-form {
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .button {
      margin-left: 10px;
    }
  }

  .product-advice-title {
    width: 100%;
  }

  .product-advice-content {
    width: 100%;
  }

  .advice-item {
    .ant-list-item-action {
      transition: all 0.2s ease-in;
      opacity: 0;
    }
  }

  .advice-item-isHover {
    .ant-list-item-action {
      opacity: 1;
    }
  }

  .load-more-advice {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #A3EE71;
    cursor: pointer;
  }
}

.input-text-right {
  div {
    input {
      text-align: right;
      padding-right: 1.5em;
    }
  }
}

@media (max-width: 1024px) {
  .modal-product {
    width: 90% !important;
  }
  .row-product-form {
    flex-direction: column;
  }
}
