@import "../../../index";

.order-page {
  display: flex;
  flex-direction: column;

  .order-detail-card {
    margin: 14px;
  }
  .order-detail-total {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .order-detail-total-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    margin-right: 14px;
  }
  .order-detail-total-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }
  .radio-style {
    display: "block";
    height: "30px";
    line-height: "30px";
  }
}
