@import "../../../index";

.product-page {
  height: 100%;

  .empty-card {
    background: white;
    border-radius: 4px;
  }

  .sub-header {
    width: 100%;
    height: 40px;
    margin-bottom: @padding-md;
    display: flex;
    justify-content: space-between;

    .products-button {
      width: 35%;
      display: flex;
      justify-content: space-between;
    }

    .product-layout {
      display: flex;
    }
  }

  .categories-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .board {
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    height: calc(100% - 40px);
  }
}