.list-review {

  .mark-informations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .average-mark {
      display: flex;
      flex-direction: row;
      width: 50%;
      justify-content: space-around;
      align-items: center;
      font-weight: bolder;
    }

    .number-of-reviews{
      width: 50%;
    }

    .average-mark-stars, .number-of-reviews{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  }

  .ant-comment-avatar {
    .user-image {
      img {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }

  .button-show-more {
    text-align: center;
  }

  .comment-title {
    display: flex;
    align-items: center;
    font-weight: bolder;

    .rate-review-item {
      margin-right: 10px;
      font-size: 17px;

      .ant-rate-star {
        margin-right: 4px;
      }
    }
  }

  .item-list-review {
    display: flex;
    flex-direction: column;

    .comment-item {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
}