@import "../../../../src/index.less";

.main-header {
  height: 80px !important;
  background: white !important;
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #CBCBCB solid thin;
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px; // set to the width of the sidebar
    height: 100%;
  }
}